body {
  background-color: black;
  color: white;
}
    h1 {
      font-size: 20px;
    }
    p{
      font-size: 12px;
      color: green;
    }           
 h2 {
      font-size: 18px;
    }
ul.b {
  list-style-type: square;
}
ol.p {
     list-style-type: upper-latin;
}
div-1 {
  dotted {border-style: dotted;
  border-width: 5px;
  border-color: white;
}
