body {
  background-color: black;
  color: white;
  margin: 100px;
  padding: 50px;
    h1 {
      font-size: 20px;
    }
    p{
      font-size: 12px;
      color: green;
    }           
 h2 {
      font-size: 18px;
    }
ul.b {
  list-style-type: square;
}
ol.p {
     list-style-type: upper-latin;
}
.myDiv {
  border-style: dotted;
  border-width: 2px;
  border-color: white;
}
